<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stl.css">
    <title>Blog Lotus | <%= title %></title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    
    <%- include('./nav.ejs')  %>
    <div class="start">
        <div class="main">
            <div class="top">
            <div class="about"><h2>About-Us</h2></div>
            <div class="textabout"><p>Welcome to <b>Mr. Blogs</b> We're thrilled to have you here.</p></div>
            <div class="mission"><h2>Our Mission</h2></div>
            <div class="textmission"><p>At <b>Mr. Blogs</b>,Our mission is to provide insightful articles that empower and inspire our readers. Through well-researched and engaging content, we strive to foster continuous learning, spark creative thinking, and offer practical solutions across a diverse range of topics. We're committed to creating a platform where knowledge seamlessly intertwines with curiosity, enriching your journey of discovery. Welcome to a community that embraces knowledge sharing and fuels your intellectual growth.</p></div>
            </div>
    
            <div class="sep"></div>
    
            <div class="project"><h2>Project Contributors</h2></div>
            
            <div class="cont1">
                <img src="./imag/jpeg-optimizer_IMG20230403163226.jpeg" alt="cont1" class="img1" width="200px">
                <div class="onimghover">
                    <a href="https://www.linkedin.com/in/tejas-teja-71b85222a/" target="_blank"><img src="./317750_linkedin_icon.svg" alt="Linkedin" class="logo"></a>
                </div>
                <div class="textcontent"><p><a href="https://www.linkedin.com/in/tejas-teja-71b85222a/" target="_blank"><b class="tracking-in-contract" style="font-size: 20px";>Tejas C M</b></a>, a dynamic 2nd-year Computer Science Engineering student at New Horizon College of Engineering. With a fervent passion for coding and web development, Tejas dives deep into the world of technology. Proficient in languages such as Java, Python, C, and JavaScript, he loves building projects that bring innovation to life. Tejas C M is not just a coder, but an enthusiastic participant in hackathons, where he thrives on creative problem-solving and teamwork. Join us as Tejas shares his insights and expertise with our community.
    
                </p></div>
            </div>
            <div class="sep"></div>
    
            <div class="cont1">
                <img src="./WhatsApp Image 2023-08-06 at 15.44.34.jpg" alt="cont1" class="img1" width="200px">
                <div class="onimghover">
                    <a href="https://www.linkedin.com/in/yashavant-kalashetti-a341a9223/" target="_blank"><img src="./317750_linkedin_icon.svg" alt="Linkedin" class="logo"></a>
                </div>
                <div class="textcontent"><p> <a href="https://www.linkedin.com/in/yashavant-kalashetti-a341a9223/" target="_blank"><b class="tracking-in-contract" style="font-size: 20px";>Yashavant Kalashetti</b></a>, an enterprising 2nd-year Computer Science Engineering student at New Horizon College of Engineering. With a fervent dedication to coding and web development, Yashwant delves deep into the realms of technology. Proficient in languages like Java, Python, C, and JavaScript, he thrives on constructing projects that breathe life into innovation. Beyond being a coder, Yashwant enthusiastically engages in hackathons, finding joy in inventive problem-solving and collaborative teamwork. Embrace the chance to learn and grow alongside Yashwant as he generously shares his insights and expertise within our community
    
                </p></div>
            </div>
            <div class="sep"></div>
    
            <div class="cont1">
                <img src="./imag/WhatsApp Image 2023-08-07 at 11.47.42.jpg" alt="cont1" class="img1" width="200px">
                <div class="onimghover">
                    <a href="https://www.linkedin.com/in/sai-nikhil-68a398287" target="_blank"><img src="./317750_linkedin_icon.svg" alt="Linkedin" class="logo"></a>
                </div>
                <div class="textcontent"><p><a href="https://www.linkedin.com/in/sai-nikhil-68a398287" target="_blank"><b class="tracking-in-contract" style="font-size: 20px";>Nikhil</b></a>, a dynamic 2nd-year Computer Science Engineering student at New Horizon College of Engineering. With an unwavering passion for coding and web development, Nikhil dives headfirst into the ever-evolving world of technology. Fluent in languages such as Java, Python, C, and JavaScript, he finds joy in constructing projects that breathe life into innovation. Nikhil's journey doesn't stop at coding; he's an eager participant in hackathons, where he thrives on inventive problem-solving and collaborative teamwork. Join us on a learning adventure as Nikhil generously shares his insights and expertise, adding value to our vibrant community.
    
                </p></div>
            </div>
            <div class="sep"></div>
            <div class="contt">
            <h2>Inspiration and Guidance</h2>
            <p class="con">We extend our heartfelt gratitude to <b><a href="https://www.linkedin.com/in/geluvaraj-b-755947153/" target="_blank">Geluvaraj</a></b> sir for his inspiration and guidance. His dedication to our learning experience has been instrumental in guiding us towards success. Geluvaraj's insights and encouragement have been invaluable, and we are deeply appreciative of his commitment to fostering our growth and knowledge.</p>
        </div>
        </div>
        
        <div class="support">
            <h2>Support-Us</h2>
            <div class="icons">
                <a href="#"><img src="./imag/instagram.png" alt="instagran" width="30px"></a>
                <a href="#"><img src="./imag/new.png" alt="Gmail" width="30px"></a>
                <a href="#"><img src="./imag/reddit.png" alt="Reddit" width="30px"></a>
                <a href="#"><img src="./imag/twitter.png" alt="Twitter" width="30px"></a>
            </div>
        </div>
        <div class="sep"></div>

    </div>

     
      <%- include('./footer.ejs')  %>
</body>
</html>