<style>
    body {
  /* Add some padding at the bottom to make space for the fixed footer */
  padding-bottom: 40px;
  margin: 0;
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
}

</style>

<body>
    <footer>
        Copyright &copy; Mr.Blogs
    </footer>
</body>

